{% extends 'base/base.html' %}
{% block css %}
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap-social.css"/>
    <link rel="stylesheet" href="/static/font-awesome-4.2.0/css/font-awesome.min.css"/>
{% endblock %}
{% block body %}
    <div class="container text-center">
        <div class="row">
            <div class="col-md-12">
                <h1>Testes de Pesquisa com Search API</h1>

                <form action="/" >
                    {{ form_input('Nome ou Sobrenome','name',name,'') }}
                    <input type="radio" name="group" value="true" {{ 'checked="checked"'|safe if group }} />Procurar só
                    por admins
                    <input type="radio" name="group" value="false" {{ 'checked="checked"'|safe if not group }} />Procurar
                    qualquer grupo
                    <button type="submit" class="btn btn-success"><i class="glyphicon glyphicon-search"></i></button>
                </form>
            <ol>
            Encontrados {{ doc_search.number_found }} Resultados
                {% for doc in doc_search.results %}
                    <li>{{ doc.expressions[0].value|safe }}
                        <br />{{ doc.fields[1].value }}</li>
                {% endfor %}
            </ol>
            </div>
        </div>
    </div>
{% endblock %}